nav {
  color: #006DE3;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 62px;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer img {
  margin-right: 0.5rem;
}

.cartContainer {
  display: flex;
}

.cartContainer img {
  margin-left: 0.5rem;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
    font-size: 12px;
    background: #0070E0;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    font-weight: bold;
    height: fit-content;
}

main {
  background-color: #F5F5F5;
  padding: 62px 1rem 0.75rem 1rem;
  display: flex;
  flex-flow: column;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  grid-gap: 0.6rem;
}

.card {
  transition: 0.3s;
  display: flex;
  flex-flow: column;
  text-align: center;
  border-radius: 2px;
  justify-content: space-around;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  order: -1;
  max-width: 128px;
  max-height: 128px;
  align-self: center;
  padding: 0.5rem;
}

.cardTitle {
  font-weight: normal;
  font-size: 14px;
}

.cardPrice {
  font-weight: bolder;
  color: #0070E0;
  font-size: 16px;
}

.buyButton {
  justify-self: flex-end;
  align-self: center;
  background-color: white;
  border: 1px solid #0070E0;
  padding: 0.6rem;
  height: fit-content;
  width: fit-content;
  border-radius: 3px;
  color: #0070E0;
  margin: 1rem 0.6rem;
}

.loadMore {
  align-self: center;
  background-color: #0070E0;
  padding: 0.75rem 1.5rem;
  border-style: none;
  margin: 1.5rem;
  height: fit-content;
  width: fit-content;
  border-radius: 3px;
  color: white;
  font-weight: bolder;
}